{% extends './common/detail.html' %}
{% block h1 %}
    <h1>{{ datas[1] }}</h1>
{% endblock %}
{% block nav %}
    {% include './nav/nav_base.html' %}
{% endblock %}
{% block content %}
<h2>상세 정보</h2>
<table class="table table-striped">
    <thead>
        {% for num in range(headers|length -1) %}
        <td>{{ headers[num + 1] }}</td>
        {% endfor %}
    </thead>
    <tr>
        {% for num in range(datas|length -1) %}
        <td>{{ datas[num + 1] }}</td>
        {% endfor %}
    </tr>
</table>

{% endblock %}