<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 수정</title>
</head>

<body>
    <h1>프로필 수정</h1>
    <form action="/profile_edit" method="POST">
        <label for="pw">새로운 비밀번호</label>
        <input type="password" name="pw" id="pw" required>
        <label for="email">이메일 주소 받아오기</label>
        <input type="email" name="email" id="eamil" required>
        <button type="submit">수정</button>
    </form>
</body>

</html>