<table class="table table-striped">
    <tr>
        {% for header in headers[1:(headers|length)] %}
            <td>{{ header }}</td>
        {% endfor %}
    </tr>
    {% if dataname == 'user' or dataname == 'store' or dataname == 'item' %}
        {% for data in datas %}
        <tr>
            {% for i in range(1, data|length) %}
                {% if i == 1 %}
                    <td><a href='./{{ dataname }}/{{ data[i-1] }}'>{{ data[i] }}</a></td>
                {% else %}
                    <td>{{ data[i] }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    {% else %}
        {% for data in datas %}
        <tr>
            {% if dataname == 'order' %}
                {% for i in range(1, data|length) %}
                    {% if i == (data|length) -2 %}
                        <td><a href='store/{{ data[i] }}'>{{ data[i] }}</a></td>
                    {% elif i == (data|length) -1 %}
                        <td><a href='user/{{ data[i] }}'>{{ data[i] }}</a></td>
                    {% else %}
                        <td>{{ data[i] }}</td>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for i in range(1, data|length) %}
                    {% if i == (data|length) -2 %}
                        <td><a href='order/{{ data[i] }}'>{{ data[i] }}</a></td>
                    {% elif i == (data|length) -1 %}
                        <td><a href='item/{{ data[i] }}'>{{ data[i] }}</a></td>
                    {% else %}
                        <td>{{ data[i] }}</td>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </tr>
        {% endfor %}
    {% endif %}
</table>