<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello World</title>
    <style>
        * {
            color: black
        }

        a {
            text-decoration: none;
            color: blue;
        }

        h1 {
            text-align: center;
        }

        table {
            margin: 20px 0;
        }

       
        table>* {
            text-align: center;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <h1 class="h1">Details</h1>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/store">Store</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/item">Item</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/order">Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ordereditem">Ordered Item</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger fw-bold" href="/logout">Log-Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <table class="table table-striped">
            <tr>
            {% for i in range(datas[0]|length -1) %}
                <td>{{ datas[0][i+1] }}</td>
            {% endfor %}
            </tr>
            <tr>
                {% for i in range(datas[1]|length -1) %}
                <td>{{ datas[1][i+1] }}</td>
            {% endfor %}
            </tr>
        </table>
    </div>
    <div class="container" style="text-align: center;">
        <a class='btn btn-primary' href="javascript:history.back()">back</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>