<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello World</title>
    <style>
        * {
            color: black
        }

        a {
            text-decoration: none !important;
            color: blue;
        }

        h1 {
            text-align: center;
        }

        table {
            margin: 20px 0 ;
            text-align: center;
        }

        .pagination {
            justify-content: center;
        }

        .input-container {
            display: flex;
            justify-content: right;
        }

        .input-group {
            width:30% !important
        }
        
        .input-group >form {
            width: 100%;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <h1>Flask Hompage</h1>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/store">Store</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/item">Item</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/order">Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ordereditem">Ordered Item</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search" method="get">
                        <input class="form-control me-2 search-item" type="search" placeholder="Search" aria-label="Search" name="name">
                        {% if dataname  == 'user' %}
                            <select class="form-select" id="inputGroupSelect04" name="gender">
                                <option selected>Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                </select>
                        {% endif %}
                        <button class="btn btn-outline-success search-btn " type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <table class="table table-striped">
            <tr>
                {% for header in headers[1:(headers|length)] %}
                    <td>{{ header }}</td>
                {% endfor %}
            </tr>
            {% for data in datas %}
                <tr>
                    {% for i in range(1, data|length) %}
                        {% if i == 1 %}
                        <td><a href='./{{ dataname }}/{{ data[i-1] }}'>{{ data[i] }}</a></td>
                        {% else %}
                        <td>{{ data[i] }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
        </table>
    </div>
    <div class="container">
        <ul class="pagination">
            <!-- 이전 페이지 -->
            {% if dataname == user %}
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="/{{ dataname }}?page={{ page - 1 }}&name={{ search_name }}&gender={{ gender }}">Previous</a>
                    </li>
                {% endif %}
                <!-- 페이지네이션 -->
                    {% for num in range(1, total_range + 1) %}
                        <li class="page-item"><a class="page-link" href="/{{ dataname }}?page={{ num }}&name={{ search_name }}&gender={{ gender }}">{{ num }}</a></li> 
                    {% endfor %}
                <!-- 다음 페이지 -->
                {% if page < total_range %}
                    <li class="page-item">
                        <a class="page-link" href="/{{ dataname }}?page={{ page + 1 }}&name={{ search_name }}&gender={{ gender }}">Next</a>
                    </li>
                {% endif %}
            {% endif %}
            {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="/{{ dataname }}?page={{ page - 1 }}&name={{ search_name }}">Previous</a>
            </li>
            {% endif %}
            <!-- 페이지네이션 -->
            {% for num in range(1, total_range + 1) %}
                <li class="page-item"><a class="page-link" href="/{{ dataname }}?page={{ num }}&name={{ search_name }}">{{ num }}</a></li> 
            {% endfor %}
            <!-- 다음 페이지 -->
            {% if page < total_range %}
                <li class="page-item">
                    <a class="page-link" href="/{{ dataname }}?page={{ page + 1 }}&name={{ search_name }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>