{% extends './common/list_base.html' %}
{% block nav %}
    {% include './nav/store_item_nav.html' %}
{% endblock %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <td>Name</td>
            <td>Type</td>
            <td>Price</td>
        </thead>
        {% for data in datas %}
            <tr>
                <td><a href="/item/{{ data.Id }}">{{ data.Name }}</a></td>
                <td>{{ data.Type }}</td>
                <td>{{ data.Price }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block search %}
    {% include './common/search_script.html' %}
{% endblock %}
