{% extends './common/list_base.html' %}
{% block nav %}
    {% include './nav/nav_base.html' %}
{% endblock %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <td>OrderAt</td>
            <td>StoreId</td>
            <td>UserId</td>
        </thead>
        {% for data in datas %}
            <tr>
            <td>{{ data.OrderAt }}</td>
            <td><a href="/store/{{ data.StoreId }}">{{ data.StoreId }}</a></td>
            <td><a href="/user/{{ data.UserId }}">{{ data.UserId }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
