{% extends './common/list_base.html' %}
{% block nav %}
    {% include './nav/nav_base.html' %}
{% endblock %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <td>OrderId</td>
            <td>ItemId</td>
        </thead>
        {% for data in datas %}
            <tr>
                <td><a href="order/{{ data.OrderId }}">{{ data.OrderId }}</a></td>
                <td><a href="item/{{ data.ItemId }}">{{ data.ItemId }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
