{% extends './common/detail.html' %}
{% block h1 %}
    <h1>{{ datas[1] }}</h1>
{% endblock %}
{% block nav %}
    {% include './nav/nav_base.html' %}
{% endblock %}
{% block content %}
<h2>상세 정보</h2>
<table class="table table-striped">
    <thead>
        <td>OrderAt</td>
        <td>StoreId</td>
        <td>UserId</td>
    </thead>
    <tr>
        <td>{{ datas.OrderAt }}</td>
        <td><a href="../store/{{ datas.StoreId }}">{{ datas.StoreId }}</a></td>
        <td><a href="../user/{{ datas.UserId }}">{{ datas.UserId }}</a></td>
    </tr>
</table>

{% endblock %}