{% extends './common/detail.html' %}
{% block h1 %}
    <h1>{{ datas[1] }}</h1>
{% endblock %}

{% block nav %}
    {% include './nav/nav_base.html' %}
{% endblock %}

{% block content %}
<h2>매장 정보</h2>
<table class="table table-striped">
    <thead>
        <td>Name</td>
        <td>Type</td>
        <td>Address</td>
    </thead>
    <tr>
        <td>{{ datas.Name }}</td>
        <td>{{ datas.Type }}</td>
        <td>{{ datas.Address }}</td>
    </tr>
</table>
<h2>월간 매출액</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Month</td>
            <td>Revenue</td>
            <td>Item Count</td>
        </tr>
    </thead>
        {% for revenue in revenues %}
        <tr>
            <td>{{ revenue[0] }}</td>
            <td>{{ revenue[1] }}</td>
            <td>{{ revenue[2] }}</td>
        </tr>
        {% endfor %}
</table>
<h2>방문한 고객</h2>
<table class="table table-striped">
    <thead>
        <td>Name</td>
        <td>Fequency</td>
    </thead>
    {% for user in users %}
        <tr>
            <td><a href="../user/{{ user[0] }}">{{ user[1] }}</a></td>
            <td>{{ user[2] }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
{% block canvas %}
<div class="container revenue p-3">
    <canvas id="revenue"></canvas>
</div>
{% endblock %}
{% block chart %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let month = [];
    let price = [];
    let count = [];
    {% for revenue in revenues %}
        month.push({{ revenue[0]|tojson }}.slice(5,7))
        price.push({{ revenue[1]|tojson }})
        count.push({{ revenue[2]|tojson }})
    {% endfor %}

    const yearCtx = document.querySelector('#revenue').getContext('2d');
    const yearChart = new Chart(yearCtx, {
    type: 'line',
    data: {
        labels: month,
        datasets: [{
            label: '월매출',
            data: price,
            backgroundColor: 'rgba(16, 163, 127, 0.2)',
            borderColor: 'rgba(16, 163, 127, 1)',
            borderWidth: 1,
            yAxisID: 'y1',
            type: 'bar'
        },{
            label: '월방문객수',
            data: count,
            backgroundColor: 'rgba(255, 223, 0, 0.2)',
            borderColor: 'rgba(255, 223, 0, 1)',
            borderWidth: 2,
            yAxisID: 'y2',
        }]
    },
    options: {
        scales: {
            y1: {
                position: 'left',
            },
            y2: {
                beginAtZero: true,
                position: 'right',
                grid: {
                    drawOnChartArea: false,
                },
                ticks:{
                    stepSize:1
                }
            }
        }
    }
});
</script>
{% endblock %}