{% extends './common/list_base.html' %}
{% block nav %}
    {% include './nav/store_item_nav.html' %}
{% endblock %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <td>Name</td>
            <td>Type</td>
            <td>Address</td>
        </thead>
        {% for data in datas %}
            <tr>
            {% for i in range(1, data|length) %}
                {% if i == 1 %}
                    <td><a href='store/{{ data[i-1] }}'>{{ data[i] }}</a></td>
                {% else %}
                    <td>{{ data[i] }}</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-outline-info" href="/store/map">Map</a>
      </div>
{% endblock %}
{% block search %}
    {% include './common/search_script.html' %}
{% endblock %}
