{% extends './common/detail.html' %}
{% block h1 %}
    <h1>{{ datas[1] }}</h1>
{% endblock %}

{% block nav %}
    {% include './nav/nav_base.html' %}
{% endblock %}

{% block content %}
<h2>사용자 정보</h2>
<table class="table table-striped">
    <thead>
        <td>Name</td>
        <td>Gender</td>
        <td>Birthdate</td>
        <td>Address</td>
    </thead>
    <tr>
        <td>{{ datas.Name }}</td>
        <td>{{ datas.Gender }}</td>
        <td>{{ datas.Birthdate }}</td>
        <td>{{ datas.Address }}</td>
    </tr>
</table>
<h2>자주 방문한 매장</h2>
<table class="table table-striped">
    <thead>
        <td>매장명</td>
        <td>방문 횟수</td>
    </thead>
    {% for store in stores %}
    <tr>
        <td><a href="../store/{{ store[0] }}">{{ store[1] }}</a></td>
        <td>{{ store[2] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
