{% extends './common/list_base.html' %}
{% block nav %}
    {% include './nav/user_nav.html' %}
{% endblock %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <td>Name</td>
            <td>Gender</td>
            <td>Birthdate</td>
            <td>Address</td>
        </thead>
        {% for data in datas %}
            <tr>
                <td><a href="/user/{{ data.Id }}">{{ data.Name }}</a></td>
                <td>{{ data.Gender }}</td>
                <td>{{ data.Birthdate }}</td>
                <td>{{ data.Address }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block search %}
    {% include './common/search_script.html' %}
{% endblock %}
