<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choice</title>
</head>

<body>
    <h1>골라~</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% for question in questions %}
        <label for="choice">{{ question }} {{ question.count }}</label>
        <input type="radio" name="choice" id="choice" value="{{ question.id }}">
        {% endfor %}
        <button type="submit">전송</button>
    </form>
    {{ question }}
</body>

</html>