<script>
    const options = document.querySelectorAll('option')
    options.forEach((a, i) => {
        if (a.value == '{{ sub_data }}') {
            a.setAttribute('selected', 'selected')
        } else {
            a.removeAttribute('selected')
        }
    })

    const search_input = document.querySelector('.search-item')
    const data_names = document.querySelectorAll('td > a')
    search_input.addEventListener('input', (e) => {
        data_names.forEach((a, i) => {
            const search_value = e.target.value
            const OriginText = a.innerText
            if (a.innerText.includes(search_value) && search_value.length > 0) {
                NewText = a.innerText.replace(search_value, `<span style='background:yellow;'>${search_value}</span>`)
                a.innerHTML = NewText
            } 
            if (search_value == '') {
                a.innerHTML = OriginText
            }
        })
    })

    if(search_input.value){
        data_names.forEach((a,i)=>{
            const search_value = search_input.value
                OriginText = a.innerText
                NewText = a.innerText.replace(search_value, `<span style='background:yellow;'>${search_value}</span>`)
                a.innerHTML = NewText
        })
    }
</script>